<h1>Listing Attractions</h1><br>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color: white;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

td, th {
    border: 1px solid #1B0F17;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #87C964;
}

body {
    background-image: url("http://southparkstudios.mtvnimages.com/images/shows/south-park/clip-thumbnails/season-5/0506/south-park-s05e06c05-lines-lines-lines-16x9.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 40%;
    background-color: #92E7E9;
    background-blend-mode: color;
}
</style>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
    <tr>
      <td><%= attraction.name %></td>
      <td><%= attraction.tickets %></td>
      <% if current_user.admin %>
        <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
      <% else %>
        <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
      <% end %>
    </tr>
    <% end %>

  </tbody>
</table>

<% if @user.admin %>
  <br><%= link_to 'New Attraction', new_attraction_path %>
<% else %>
  <%= link_to "Back", user_path(@user) %>
<% end %>
